body {
    background-color: rgb(139, 196, 196);
}
.container {
    width: 90%;
    margin: auto;
    background-color: salmon;
}
.header {
    /* position: relative; */
}
.center {
    display: flex;
}
.list  {
    display: flex;
}
.info1 {
    margin: auto;
}
.skills {
    background-color: blanchedalmond;
}